:root {
    /* Colors */
    --dark-background: #1F2023;
    --light-background: #F5EDE0;

    --yellow-primary: #F2BE58;
    --yellow-secondary: #F2BE58;

    --green-primary: #72C0A2;
    --green-secondary: #72C0A2;

    --red-primary: #ED6D44;
    --red-secondary: #ED6D44;

    --pink-primary: #F3A0B9;
    --pink-secondary: #F3A0B9;

    --blue-primary: #4E7BBE;
    --blue-secondary: #4E7BBE;

    /* Shadows */
    --shadow-1: 0px 4px 5px rgba(0, 0, 0, 0.25);

    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    pointer-events: none;
}

.barraInAlto {
    position: fixed;
    top: 0;
    display: flex;
    height: 32px;
    z-index: 10;
    padding: 74px 90px;
}

.wrapper {
    position: relative;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-background);
}

.card {
    width: 300px; /* former 180px */
    height: 450px; /* former 270px */
    position: absolute;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow-1);
}

.card .vector {
    display: flex;
    width: 130px;
    height: 130px;
    align-items: center;
    justify-content: center;
}

.main-cover {
    display: flex;
}

.pink-card.cover {
    background-color: var(--pink-primary);
    z-index: 31;
}

.red-card.cover {
    background-color: var(--red-primary);
    rotate: 5deg;
    z-index: 32;
}

.blue-card.cover {
    background-color: var(--blue-primary);
    transform: rotateZ(-0deg);
    z-index: 34;
}

.yellow-card.cover {
    background-color: var(--yellow-primary);
    transform: rotateZ(-1deg);
    z-index: 35;
}

.green-card.cover {
    background-color: var(--green-primary);
    rotate: 3deg;
    z-index: 36;
}

.fan-out {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 200px;
    height: 1000px;
    overflow: hidden;
}

.hidden-card {
    display: none;
}

.blue-section.wrapper {
    width: 100vw;
}

.blue-section .card {
    position: absolute;
    scale: 1;
}

.blue-section .selected-card {
    scale: 1.25;
    z-index: 35;
}

.vector {
    justify-content: center;
    align-items: center;
}

.curtain {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-color: red;

}

.face-wrapper {
    display: none;
    width: 100%;
    height: 100%;
    padding: 100px 30px;
}

/* .vector-wrapper {
    display: none;
} */